<?php
//
// The general version independent configurations.
//
// These configurations maybe different in different hosts, so using
// `.env.local.php` file keep in out of repository. As best pratices,
// it should be the recommended by starter kit.
//

return [
    /**
     *  @param String   The project name using in some situations,
     *                  e.g. Hipchat notify.
     */
    "PROJECT_NAME"          => "",

    "MYSQL_HOSTNAME"        => "localhost",
    "MYSQL_DATABASE"        => "forge",
    "MYSQL_USERNAME"        => "forge",
    "MYSQL_PASSWORD"        => "",

    "PGSQL_HOSTNAME"           => "localhost",
    "PGSQL_DATABASE"           => "forge",
    "PGSQL_USERNAME"           => "forge",
    "PGSQL_PASSWORD"           => "forge",

    "SQLSRV_HOSTNAME"       => "localhost",
    ""

    /**
     * @param String    Custom log file path.
     *                  e.g. `/var/log/laravel/code_name.log`
     */
    "LOG_FILE"              => "",

    /**
     * @param Boolean   Use `useDailyFiles` or not.
     */
    "LOG_AUTO_ROTATE"       => true,

    //
    //  For fabric scripts.
    //

    /**
     * @param String    The base directory path for deployment.
     *
     *                  e.g.: `/srv/www/code_name`
     */
    "DEPLOY_TARGET"         => "",

    /**
     * @param String    The worker name that should restart after deploy.
     *                  Can be specified multiple workers name split
     *                  by `;`.
     *
     *                  e.g.: `foo-push-worker;foo-queue-worker:*`
     */
    "SUPERVISOR_WORKERS"    => "",

    //
    //  Send a message to Hipchat after deploy. Optional.
    //

    /**
     * @param String    Hipchat API access token.
     */
    /*"HIPCHAT_TOKEN"         => "",*/

    /**
     * @param String    The target Hipchat chat room name / id.
     */
    /*"HIPCHAT_ROOM"          => "",*/

    /**
     * @param String    The target Hipchat API server (for the situation
     *                  we can not access Hipchat API server directly).
     */
    /*"HIPCHAT_HOST"          => "api.hipchat.com",*/

    /**
     * @param String    The prefix to custom Hipchat API server address.
     *
     *                  e.g.: `/hipchat/`
     */
    /*"HIPCHAT_PREFIX"        => "",*/
];
